<div class="col-5">
    
    <h3 class="text-info">User List : </h3>
    <table class='table table-sm table-dark table-hover' >
        <thead>
            <tr >
                <th>
                    Id
                </th>
                <th>
                    name
                </th>
                <th>
                    email Id
                </th>
                <th>
                    Status
                </th>
                <th>
                    Password
                </th>
                <th>
                    Address
                </th>
                <th>
                    Update Button
                </th>
            </tr>
        </thead>
        <tbody>
          
         <tr class='row-sm' *ngFor = 'let f of userdetails' >
            <!-- <form style="padding-left: 50px;" [formGroup]='data' (ngSubmit)="handleClick(f.id)" > -->
             <td *ngIf="f">  </td>
             <td >{{f.firstname}} {{f.lastname}}</td>
            <td>{{f.email}}</td>
            <td>
                <select   is="f.status" name="f.status" id ="f.status"value ="f.status"  ngModelChange = "onSelectedRequest(f.id,$event)"class ="form-control">
                <option  *ngFor = 'let req of data1' ngValue="req.id" value="req.type">{{req.type}}</option>
                </select>
              
            </td>
            <td >{{f.password}}</td>
            <td>{{f.address}}</td>
            <td >

                    <input  type="submit" value="Update Employee"   class="btn btn-outline-success" (click)="onSelectedRequest(f.id,f.status)"/>
                </td>
            <!-- </form> -->
            </tr>
       
        </tbody>
        </table>
    
</div>