<div class="wrapper">
    <div class="row">
        <img src="../../assets/images/logo.png">
        <div class="card col-md-4 offset-md-4 shadow-lg p-3 mb-5 bg-white">
            
            <h3 style="margin-top: 20px;">Login</h3>
            <h3>Welcome! to Groci Store.
            </h3>
            <form [formGroup]='profile' (ngSubmit)= "checkLogin()">
            <div class="col-5">
                <span>Enter Username:
                    <input type="text" formControlName='username' class="form-control"/>
                </span>
                <div class="alert alert-danger" [hidden]="profile.controls['username'].valid||profile.controls['username'].pristine"> Username is Mandatory</div>
            </div>
            <div class="col-5">
                <span>Enter Password :
                    <input type="password" formControlName='password' class="form-control"/> </span>
                <div class="alert alert-danger" [hidden]="profile.controls['password'].valid||profile.controls['password'].pristine"> Password is Mandatory</div>
            </div>
            <div class="col-5">
                <input type="submit" value="Login"  [disabled]='profile.invalid' class="btn btn-outline-success"/>
            </div>
        <hr/>
            <div class="text-danger">
                Forms : 
                <p>{{profile.value | json}}</p>
            </div>
        </form>

            <div class="row">
                <span style="margin-left: auto; margin-right: auto;">
                    OR<br>
                    Sign Up for a new account
                </span>
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary">
                  <a href="signup">SIGN UP</a>
                </button>
            </div>
        </div>
    </div>
  </div>
