


    <div class="cotainer-fluid">
       
        <div style="background-color: grey;"><h1 >Hi : {{username}}</h1></div>
      
      
                  <nav class="navbar navbar navbar-light bg-dark">
                      <ul class="nav">
                        <li class="nav-item"> <a class="btn btn-secondary"  routerLink="Funds">Fund</a></li>
                     <li class="nav-item"> <a class="btn btn-secondary"  routerLink="SendRequest"> Send Request</a></li>
                     <li class="nav-item"> <a class="btn btn-secondary"  routerLink="UpdateOrder"> Update Order</a></li>
                  
                    <li class="nav-item">  <a class="btn btn-secondary" routerLink="UnlockUsers">Unlock Users</a></li>
                     <li class="nav-item"> <a class="btn btn-secondary" routerLink="EditProfile"> Edit Profile</a></li>
   </ul>
   </nav>
        
             
              <div class="cotainer-fluid">
                      <router-outlet></router-outlet>
              </div>
      </div>
