<div class="cotainer-fluid">
   
    <div>
    
        <form [formGroup]='data'  >
            </form>
        <!-- <input type="submit" value="Search" class="btn btn-outline-info"/> -->
        <!-- <div *ngFor="let i of items">
        <a [routerLink]="['http://localhost:4200/user/fetchData', i.id]"></a>
    </div> -->
        <h3 class="text-info">Products List : </h3>
        <table class='table table-sm table-dark table-hover' >
            <thead>
                <tr >
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Description
                    </th>
                </tr>
            </thead>
            <tbody>
             <tr class='row-sm' *ngFor = 'let f of user' ><td>{{f.id}}</td><td>{{f.name}}</td><td>{{f.price}}</td>
                <td>{{f.description}}</td>
                <td><hr> <a class="btn btn-md btn-info" (click)="onClick(f.id)">Add to Cart</a></td>
                </tr>
            </tbody>
            </table>
        <div *ngIf='errorMessage' class="text-danger">{{errorMessage |json}}</div>
    
    </form>
    </div>
    
    
  

          <div class="cotainer-fluid">
         <div class="row">
             <div class="col-2">
                <ul style="padding-top: 50px;">
                    <hr><input type="button" class="btn btn-md btn-info" routerLink="Checkout" value="Checkout"/> 
                      <hr>
                      <hr> <a class="btn btn-md btn-info" routerLink="DeleteItems">Delete Items</a>
                      <hr> <a class="btn btn-md btn-info" routerLink="SelectItems">Select Items</a>
                      <hr> <a class="btn btn-md btn-info" routerLink="UpdateItems">Update Items</a>
                      <hr> <a class="btn btn-md btn-info" routerLink="ViewItems"> View Items</a>
                      <hr>  <a class="btn btn-danger btn-hover" routerLink="/Home" onclick="logOut()"> Logout</a>
                      <hr>
                  </ul>
             </div>
             <div class="col-6">
                <router-outlet></router-outlet>
             </div>
         </div>
             
               
               
          </div>
   
  </div>