<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="nav">
     <li class="nav-item"> <a class="btn btn-secondary" routerLink="FetchByID">Get User</a></li>
     <li class="nav-item"> <a class="btn btn-secondary" routerLink="FetchAll">All Users</a></li>
     <li class="nav-item"> <a class="btn btn-secondary" routerLink="AddUser">Add User</a></li>
    <li class="nav-item"> <a class="btn btn-secondary" routerLink="UpdateUser">Update User</a></li>
    <li class="nav-item">  <a class="btn btn-secondary" routerLink="DeleteById">Delete By ID</a></li>
     <li class="nav-item"> <a class="btn btn-secondary" routerLink="mdf">MDF</a></li>
     <li class="nav-item"> <a class="btn btn-secondary" routerLink="Signup">Signup</a></li>
     <li class="nav-item"> <a class="btn btn-secondary" routerLink="addemployee">addemployee</a></li>
    </ul>

 
   -->
    <router-outlet></router-outlet>
 
    
       <!-- <div class="col-5">
        <app-mdf-demo></app-mdf-demo>
      </div>
 <div class="row">
    <div class="col-4">
      <app-update-user></app-update-user>
    </div>
    <div class="col-4">
      <app-add-user></app-add-user>
    </div>
    <div class="col-4">
      <app-get-one-user></app-get-one-user>
      <hr/>
        <app-delete-user></app-delete-user>
    </div>
    <div class="col-4">
      <app-get-user></app-get-user>
    </div>
  </div> -->
   <!-- <div class="container-lg">
          <div class="row">
        <app-tdf-demo></app-tdf-demo>
        <app-signup></app-signup>
 <div class="col-5">
        <app-mdf-demo></app-mdf-demo>
      </div>
 <div class="row">
    <div class="col-4">
      <app-update-user></app-update-user>
    </div>
    <div class="col-4">
      <app-add-user></app-add-user>
    </div>
    <div class="col-4">
      <app-get-one-user></app-get-one-user>
      <hr/>
        <app-delete-user></app-delete-user>
    </div>
    <div class="col-4">
      <app-get-user></app-get-user>
    </div>
  </div>

</div>
</div> -->